<div class="form-container" *ngIf="hero">
    <h1 uiSref="main" class="form-container__form-title">
        Marvel Heroes
    </h1>
    <h2 uiSref="main" class="form-container__form-title">
        {{hero._nickname}}
    </h2>
    <div 
    class="form-container__image-container">
        <img 
        [src]="hero._picture" 
        *ngIf="hero._picture" 
        [alt]="hero._name" 
        [title]="hero._nickname" 
        srcset="" 
        class="form-container__form-image">
    </div>
    <form>
        <div>
            <label 
                for="" 
                class="form-container__form-span">
                Nickname 
            </label>
            <input 
                type="text" 
                [(ngModel)]="hero._nickname" 
                ng-if="hero._nickname" 
                name="nickname" 
                class="form-container__form-input" 
                placeholder="Nickname">
        </div>
        <div>
            <label 
                for="" 
                class="form-container__form-span">
                Name
            </label>
            <input 
                type="text"    
                [(ngModel)]="hero._name" 
                ng-if="hero._name" 
                name="name" 
                class="form-container__form-input" 
                placeholder="Name">
        </div>
        <div>
            <label 
                for="" 
                class="form-container__form-span">
                Height
            </label>
            <input 
                type="text" 
                [(ngModel)]="hero._height" 
                ng-if="hero._height" 
                name="height" 
                class="form-container__form-input" 
                placeholder="Height">
        </div>
        <div>
            <button 
                (click)='saveHero(hero)' 
                class="form-container__button"  
                uiSref="main">
                SAVE
            </button>
        </div>
    </form>
</div>