.wrapper{
    padding-top: 25px;
  }
  html, body, header{
    padding: 0px;
    margin: 0px;
    border: 0px;
    height: 100%;
    background-color: #616b96;
    background-image:url('./img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }
 